.address {
    margin-bottom: 150rem;
    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        text-align-last: left;
        margin-bottom: 1.5rem;
    }
    &__text {
        font-size: 1.6rem;
        letter-spacing: 1.5px;
        line-height: 2;
        width: 50%;
        margin-bottom: 2rem;
    }
    &__slider {
        width: 100%;
        position: relative;
        
    }
    &__image{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__icon {
        position: absolute;
        top: 50%;
        transform:translate(-50%,-50%);
        height: 5rem;
        width: 5rem;
        border-radius:50%;
        z-index: 1;
        border:1px solid #afafaf;
        font-size: 1.8rem;
        background-color: #FFF;
        display: flex;
        align-items: center;justify-content: center;
        color:#111111;
        font-weight: 300;
        &:hover{
        background-color: #f7f7f7;
       
        }
    }
    &__prev {
        left: 0;
        transform:translate(-50%,-50%);

    }
    &__next {
        right: 0;
        transform:translate(50%,-50%);

    }
    &__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        transition: transform 0.3s linear;
    }
    &__item {
        flex : 1 0 calc(20% - 12px);
        border-radius:0.5rem;
        overflow: hidden;
        margin: 0 15px 0 0;
        user-select: none;
    }
}