.header{
    box-shadow:0 5px 10px #f5f5f5;
    padding: 15px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    &__container {
        @include display;
       
    }
    &__logo {
        height: 6.5rem;
        padding: 1rem ;
        background-color: #f5f5f5;
        margin-right: 2rem;
    }
    &__search {
        box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2),-1px -1px 5px rgba(0, 0, 0, 0.2);
        border-radius:6px;
        position: relative;
        font-weight: 500;
        padding-right: 5px;
        display: flex; 
        align-items: center;
    }
    &__label {
        font-size: 1.6rem;
        left: 1rem;
        top: 50%;
        transform:translateY(-50%);
        @include position;
        z-index: 2;
        color:#6c757d;
        // z-index: 1;
    }
    &__input {
        padding: 7px 15px 7px 4rem;
        border:0.5px solid #fff;
        outline:none;
        font-size: 1.6rem;
        position: relative;
        z-index: 1;
        // height: calc(100%  - 5px);    
        border-right:1px solid rgba(108, 117, 125, 0.5);
       &:focus {
        border:0.5px solid rgba(108, 117, 125, 0.5);
        padding: 1.5rem 1.5rem 1.5rem 4rem;
        border-radius:6px;
       }
       &:focus~.header__suggestion {
        height: calc(100% + 34rem  );

       }
    }
    &__date {
        padding: 7px 2.8rem;
        display: inline-block;
        font-size: 1.6rem;
        position: relative;
        & [class*="fa"]{
            margin-right: 1rem;
        }
        border-left:1px solid #fff;
        border-right:1px solid rgba(108, 117, 125, 0.5);
        border-collapse: collapse;
    }
    &__uses {
        padding: 0 2.8rem;
        font-size: 1.6rem;
        & [class*="fa"]{
            margin-right: 1rem;
        }
    }
    &__find {
        display: inline;
        padding: 8px 2rem;
        background-color: $darkColor;
        font-size: 1.6rem;
        border-radius:5px;
        font-weight: 700;
        margin: 7.5px;
        & [class*="fa"]{
            color:#fff
        }
    }
    &__nav {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__menu {
        display: none;
    }
    &__content {
        display: flex;
        align-items: center;
        flex:1;
        justify-content: end;
   }
    &__list {
        @include display;
    }
    &__item {
        margin-left: 3rem;
        font-size: 1.6rem;
        font-weight: 500;
    }
    &__link{
        transition:0.3s linear;
    }
    &__link:hover {
        opacity: 0.7;
        color:red;
    }
    &__close {
        display: none;
    }
    &__lenguage{
        user-select: none;
        margin-left: 1.5rem;
        padding:6px 8px;
        border-radius:20px;
        background-color: #f5f5f5;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        &--icon {
            display: flex;
        user-select: none;

        }
        &--name {
            font-weight: 500;
            margin-right: 8px;
        }
        & [class*="fa"]{
            font-size: 1.4rem;
        }
        
        &--list {
            position: absolute;
            top: calc(100% + 3rem);
            box-shadow:2px 2px 10px rgba(153, 153, 153, 0.5),-2px -2px 5px rgba(153, 153, 153, 0.5);
            width: 300%;
            right: 0;
            background-color: #fff;
            border-radius:5px;
            display: none;
        user-select: none;
            &:after {
                @include position;
                top: -1rem;
                right: 2.5rem;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #FFF;
                transform:rotate(45deg);
                box-shadow:2px 2px 10px rgba(153, 153, 153, 0.5),-2px -2px 5px rgba(153, 153, 153, 0.5);
                z-index: -2;
                border-radius:4px;
            }
            &:before {
                @include position;
                top: -9px;
                right: 2.5rem;
                width: 2.5rem;
                height: 2.5rem;
                background-color: #FFF;
                transform:rotate(45deg);
                z-index: 0;
            }
        }
        &--showList {
            display: block;        }
        &--item {
            position: relative;
        }
        &--link {
            display: inline-block;
            display: flex;
             align-items: center;
            padding: 1.5rem ;
            border-bottom:1px solid #f5f5f5;
            &:hover {
                color:red;
                background-color: #f5f5f5;
            }
        }
        &--image {
            width: 2.2rem;
            height: 2.2rem;
            margin-right: 2rem;
        }
    }
    &__icon {
        border-radius:50%;
        background-color: red;
        color:yellow;
        font-size: 5px;
        padding: 5px;
        margin-right: 8px;
        display: flex;  
        align-items: center;justify-content: center;
        & [class*="fa"]{
            font-size: 8px;
        }
    }
    // suggestion 
    &__suggestion {
        position: absolute;
        left: 0;
        right: 0;
        height: 0;
        overflow: hidden;
        top:calc(100% + 5px);
        background-color: #fff;
        box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2),-3px -3px 5px rgba(0, 0, 0, 0.2);
        border-radius:5px;
        transition: 0.3s linear;
        &--title {
            font-size: 2.5rem;
            text-align: center;
            padding: 2rem;
        }
        &--list {
            padding-bottom: 1rem;
        height: 32rem;
        overflow: auto;
            &::-webkit-scrollbar {
                width: 7px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #ececec;
                border-radius:7px
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: #bab8b8;
            }
          
        }
        &--link  {
            display: block;
            display: flex;
            padding: 8px 1.5rem;
            &:hover {
                background-color: #FDF6F0;
                color:tomato;
            }
        }
        &--image {
            width: 4.8rem;
            height: 4.8rem;
            border-radius:5px;
            margin-right: 1.5rem;
        }
        &--content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &--name {
            font-size: 1.7rem;
        }
        &--adress {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}